body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fafafa;
}

.header {
    padding: 10px;
    background-color: #2aaae1;
    color: #fafafa;
    text-align: center;
}

.add-home-btn {
    background-color: #2aaae1;
    color: #fafafa;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.add-home-btn:hover {
    background-color: #fafafa;
    color: #2aaae1;
    transition: all 0.5s ease;
}

.p1 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    color: #333333;
    text-align: justify;
}



.footer {
    background-color:  #2aaae1;
    color: #fafafa;
    text-align: center;
    padding: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

