body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fafafa;
}

.header {
    background-color: #2aaae1;
    color: #fafafa;
    text-align: center;
    padding: 10px;
    left: 0;
    top: 0;
}

.add-user-btn {
    background-color: #2aaae1;
    color: #fafafa;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.add-user-btn:nth-of-type(2) {
    position: absolute;
    top: 10px;
    right: 110px;
}

.add-user-btn:hover {
    background-color: #fafafa;
    color: #2aaae1;
    transition: all 0.5s ease;
}

.home-btn {
    background-color: #2aaae1;
    color: #fafafa;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
.home-btn:hover {
    background-color: #fafafa;
    color: #2aaae1;
    transition: all 0.5s ease;
  }

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #2aaae1;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #2aaae1;
    color: #fafafa;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-size: 18px;
    background-color: #2aaae1;
    color: #fafafa;
    padding: 10px;
    border-bottom: 1px solid #fafafa;
}

th, td {
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
  text-align: center;
}

th:last-child,
td:last-child {
  text-align: center;
}

td {
    padding: 10px;
    border-bottom: 1px solid #fafafa;
    text-align: left;
    border-right: 1px solid #ccc; /* added border right */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

p{
text-align: center;
}


.footer {
    background-color:  #2aaae1;
    color: #fafafa;
    text-align: center;
    padding: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}