body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

.header {
  padding: 10px;
  background-color: #2aaae1;
  color: #fafafa;
  text-align: center;
}

.add-home-btn {
  background-color: #2aaae1;
  color: #fafafa;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-home-btn:hover {
  background-color: #fafafa;
  color: #2aaae1;
  transition: all 0.5s ease;
}
  

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background-color: #f5f5f5;
  }
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Add animation on form submit */
  form.submitting {
    position: relative;
  }
  
  form.submitting:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  form.submitting input[type="submit"] {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  form.submitting input[type="submit"]:hover {
    background-color: #ddd;
  }
  
  form.submitting:after {
    opacity: 1;
  }
  
  /* Add animation on form success */
  form.success {
    text-align: center;
  }
  
  form.success h2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #4CAF50;
    animation: successFadeIn 0.5s ease;
  }
  
  @keyframes successFadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .footer {
    background-color:  #2aaae1;
    color: #fafafa;
    text-align: center;
    padding: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}