<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>
        
function validateEmail() {
    var email = document.getElementById("email").value;
    var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    var domainPattern = /@(gmail\.com|yahoo\.com|hotmail\.com|mietjammu\.in)$/i;
    if (!emailPattern.test(email) || !domainPattern.test(email)) {
        alert("Invalid email address. Please enter a valid email address with a supported domain (Gmail, Yahoo, or Hotmail).");
        return false;
    }
    // Make an AJAX request to check if the email already exists in the database
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            if (this.responseText == "exists") {
                alert("Email address already exists. Please enter a different email address.");
                return false;
            }
        }
    };
    xhttp.open("GET", "/check_email/" + email, true);
    xhttp.send();

    return true;
}
    </script>
    
</head>
<body>
    <div class="header">
    <h1>Add Yourself</h1>
    <a class="add-home-btn" href="{{url_for('index')}}">Home</a>
    </div>
    <form method="post" action="{{ url_for('add_user') }}" onsubmit="return validateEmail()">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label>Skill:</label>
        <input type="text" name="skill" required><br><br>
        <label>City:</label>
        <input type="text" name="city" required><br><br>
        <input type="submit" value="Submit">
    </form>  
    <div class="footer">
        <p>Copyright &copy; 2023 Coding Community. All rights reserved</p>
    </div>
</body>
</html>
